################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RabbitMqReceive/obj
/RabbitMqReceive/bin/Debug
/packages
/.vs
